
.customAlertModal .modal-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
  }
  

  .modalHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .modalIcon {
    margin-right: 15px;
    color: #e74c3c;
  }
  
  .modalTitle {
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
  }
  

  .modalBody {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
  }
  
 
  .modalFooter {
    display: flex;
    justify-content: center;
    border-top: none;
  }
  
  .modalButton {
    padding: 0.5rem 1.5rem;
    background-color: #3498db;
    color: white;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  
  .modalButton:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  